.mainBox {
    padding: 1.25rem;
    height: 100vh;
}

.divUser {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 0;

    @media (min-width: 1024px){
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

}


.titleDescription {
    margin: 1.25rem 0;
}