.input_box {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 0.625rem;
  
    input {
        display: flex;
        width: 19.4375rem;
        height: 2.5rem;
        padding: 0rem 1.0152rem;
        align-items: center;
        gap: 0.6345rem;
        margin-top: 0.3125rem;

        background-color: var(--Grey-2);
        border: none;
        color: var(--Grey-1);
        border-radius: 0.3125rem;
    }
};