.div_second {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.3125rem;
 
    @media (min-width:1024px) {
        flex-direction: row;
    }
};

.div_status {
    display: flex;
    justify-content: space-between;
  
    @media (min-width:1024px) {
        gap: 1.25rem;
    }   
};

.div_icons{
   display: flex;
   gap: 0.9375rem;
};

.list {
    background: var(--Grey-4);
    padding: 0.625rem;
    border-radius: 0.25rem;
    margin-bottom: 0.625rem;
};